/* Copyright 2012, <OWNER>: License details can be found in LICENSE.markdown. */

html {
  background: #FFF;
  padding: 5px;
}

body {
  background: #DDD;
  border-radius: 5px;
  font: 12px/1.2 Helvetica Neue, Helvetica, Arial, Sans Serif;
  width: 350px;
  padding: 10px;
  margin: 0;
}

h1 {
  margin: 0.2em 0;
}

#clock {
  font: 14px/1 monospace;
  font-weight: 700;
}
